#root {
  height: 100vh;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 600px) {
    padding: 0 100px;
  }

  .nav-logo {
    a {
      text-transform: capitalize;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      display: flex;
      place-items: center;
      gap: 10px;
      font-size: 1.2em;
    }
  }
  p {
    font-size: 0.8em;
    color: #fff;
  }
}

.meme {
  width: 100%;
  min-height: 150px;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  //   padding
  gap: 20px;

  @media screen and (min-width: 600px) {
    padding: 50px 100px;
  }

  input {
    width: 230px;
    height: 35px;
    // margin: 0 auto;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid rgba(213, 212, 216, 1);
    background-color: #ffff;

    @media screen and (min-width: 600px) {
      margin: 0 auto;
    }
  }
  input:focus {
    border-color: #672280;
    outline-color: #672280;
  }
  .generate {
    margin: 0 auto;
    width: calc(230px * 2);
    height: 40px;
    font-weight: 700;
    background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
  }
  .img-div {
    background-color: red;
    position: relative;
    display: grid;
    place-items: center;
    .memeImg {
      width: 100%;
      margin: 0 auto;
    }

    .meme--text {
      position: absolute;
      text-align: center;
      font-size: 42px;
      color: white;
      font-family: "Times New Roman", Times, serif;
      transform: translate(50% -50%);
    }

    .top {
      top: 0;
    }
    .bottom {
      bottom: 0;
    }
  }
}
